.Card{
    flex: 1;
    border: 3px solid grey;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cececece;
    margin: 20px 600px;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    font-family: fantasy;
    
    
}

.Card .Conteudo{
    background-color: #cececece;
    color: #000;
    padding: 45;
    flex: 1;
    margin: auto;

   
}
.Card .Footer{
    background-color: #cececece;
    color: #000;
    
    padding: 0px 0px;
    /* background-image: url(https://i.pinimg.com/originals/f3/84/3a/f3843a88adcbaefbb0404f3c40034b30.png); */
}

.input-button {
    background-image: url(https://i.pinimg.com/originals/f3/84/3a/f3843a88adcbaefbb0404f3c40034b30.png);
    padding: 100px 100px ;
}

.Card .input-button .Button{
    background-color: #cecece;
    padding: 20px;
    box-shadow: #cececece;
    border:3px solid #cececece;
    border-radius: 10px;
    margin: auto;

}

.Card .input-button .input {
    padding: 20px 1px;
    box-shadow: #cececece;
    border:3px solid #cececece;
    border-radius: 10px;
    inline-size: 150px;
    font-family: fantasy;
    font-size: 20px;
    
    width: 77%;
    height: 20px;
    margin: auto;
}

input ,input[place-holder]{
    text-align: center;

}

.Card .input-button .uwu{
    font-family: fantasy;
    color: #000;
    font-size: smaller;
    background-color: white;
    border:3px solid #cececece;
    display: flex;
    flex: 1;
    padding: 10px 50px;
}

.Card .input-button  .error{
    color:red;
    font-size: 20px;
    transition: 2s;
}



